* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

button {
    padding: 10px 20px;
    background-color: rgb(158, 158, 158);
    color: black;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    margin: 10px;
    transition: 0.3s;

}



button:hover {
    background-color: black;
    color: white;
}

.container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: black;
    background-color: white;
}

.profile-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 20px;
    padding: 20px;
    gap: 10px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2px;
    width: 500px;
}